.listMeetimg{
    position: relative;
    top:35vw;
    display: flex;
}

.addSer{
     display: flex !important;
    top: 47vw !important;
    left: 3px !important;
    z-index: 2;

position: fixed !important;
}