.heder {
    position: fixed; 
   width:100%;
    align-items: center;
    top: 0%;
    left: 0;
    width: 100%;
    background-color: #e2e6ff;
   
    z-index: 1;
    flex-wrap: wrap;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    top: 28vw !important;
     display: flex !important;
}
.boton2 {
  position: fixed;
 display: flex ;
    top:15vw;
    right: 10%;
    display: contents;
    justify-content: start;

}
.b1{
    top: 28vw !important;
    position: fixed !important;
     display: flex !important;
     z-index: 2;
}
.b2{
    top: 28vw !important;
    position: fixed !important;
    left:22vw;
     display: flex !important;
     z-index: 2;
}
.bottun1 {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
   
   
}



.editD {
   
}
